/* BODY SECTION */
/* -------------------------------------------------------------------------------- */
body {
  background-color: #161616;
  font-family: 'Open Sans', sans-serif;
  padding: 10px 80px;
}

h1, h3 {
  font-size: 52pt;
  font-weight: bold;
}

p {
  font-size: 21pt;
  color: #C4C4C4;
}

.scroll-imageicon p {
  font-size: 18pt;
  color: #C4C4C4;
  opacity: .5;
}

.left-container h1 {
  font-size: 42pt;
  font-weight: bold;
  margin-bottom: 5%;
  color: #60FFC6;
}

/* -------------------------------------------------------------------------------- */
/* NAVBAR SECTION Start*/
/* -------------------------------------------------------------------------------- */
.navbar {
  background-color: #161616;
  position: fixed;
  z-index: 10;
  width: 100%;
  left: 2%;
  top: 0;
}

.navbar-brand {
  color: #60FFC6;
  font-size: 2rem;
  font-weight: bold;
}

.navbar-brand:hover {
  color: #C4C4C4;
  font-size: 2.1rem;
}

.collapse {
  margin-left: 100px;
}

.nav-item {
  margin: 20px;
}

.nav-link {
  color: #C4C4C4;
}

.nav-link:hover {
  color: #60FFC6;
}

.search-bar {
  color: #60FFC6;
  border: none;
  outline-style: none;
  background-color: #2C2C2C;
  border-radius: 25px;
  padding: 1rem;
}

.search-bar:focus {
  background-color: #2C2C2C;
  color: #60FFC6;
}

.input-group {
  width: 30%;
  right: 10%
}

.input-group-text {
  font-size: 2rem;
  border-radius: 25px;
  background-color: #2C2C2C;
  border: none;
  padding-left: 20px;
}

.fa-search {
  color: #60FFC6;
  opacity: .2;
}

.form-control::-webkit-input-placeholder {
  color: #60FFC6;
  opacity: .2;
}

/* -------------------------------------------------------------------------------- */
/* LANDING SECTION Start*/
/* -------------------------------------------------------------------------------- */
.landing-container {
  margin-top: 5%;
}

.container-ads {
  position: relative;
  top: 8rem;
  width: 790px;
  height: 300px;
  background-color: #2C2C2C;
  border-radius: 30px;
  margin-bottom: 8%;
}

.carousel {
  position: relative;
  top: 8rem;
  /* left: 480px; */
}

.carousel-inner {
  border-radius: 30px;
}

.carousel-item {
  height: 20%;
  /*width: 90%;*/
  /*margin: 5%;*/
  background-color: #2C2C2C;
  color: white;
  /*border-radius: 30px;*/
}

.container img {
  width: 52rem;
}

.container {
  width: 20%;
  padding: 2%;
  margin: 2%;
}

.container-head, .container-subhead {
  margin-bottom: 2%;
}

.container .btn-outline-light {
  font-weight: bold;
  font-size: 27pt;
  border-radius: 30px;
  padding: .5% 8%;
  margin-top: 6%;
  margin-right: 6%;
}

.container .btn-dark {
  font-size: 27pt;
  font-weight: bold;
  border-radius: 30px;
  background-color: #60FFC6;
  color: #2C2C2C;
  padding: .5% 4%;
  margin-top: 6%;
  margin-right: 6%;
}

.info-icon {
  position: absolute;
  bottom: 5.5rem;
  font-size: 27pt;
  color: #C4C4C4;
  opacity: .5;
  cursor: pointer;
}

.info-icon:hover {
  color: #60FFC6;
}

/* .swap-text{
  color: #60FFC6;
} */
/* Swap Animation Effect */
.swap-text:before {
  content: '';
  animation: animate infinite 12s;
  font-size: 72pt;
  color: #60FFC6;
  margin-left: 3%;
}

@keyframes animate {
  0% {
    content: 'Illustrations';
  }

  20% {
    content: 'Animations';
  }

  40% {
    content: 'Colors';
  }

  60% {
    content: 'Code';
  }

  80% {
    content: 'Music';
  }

  100% {
    content: 'Art';
  }
}

.sub-head-text {
  color: #60FFC6;
}

.carousel-indicators .cara-indicators {
  position: relative;
  bottom: 660px;
  left: 50%;
  background-color: #C4C4C4;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-right: 15px;
  padding: 0;
  margin-left: 3px;
  cursor: pointer;
  transition: opacity .6s ease;
}

.carousel-indicators .cara-indicators:hover {
  background-color: #60FFC6;
}

/* -------------------------------------------------------------------------------- */
/* DISPLAY SECTION STARTS*/
/* -------------------------------------------------------------------------------- */
.display-section {
  margin-top: 15%;
  padding: 2%;
  margin-bottom: 5%;
}

.profile-image-container {
  position: relative;
  margin: 3% auto;
}

.profile-container {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  background-color: #C4C4C4;
  margin: 1%;
}

.arrow-icon {
  color: #60FFC6;
  font-size: 32pt;
  transform: rotate(45deg);
  padding: 2%;
}

.tabs-container {
  margin-left: 1%;
}

.tag-tabs {
  width: 200px;
  height: 72px;
  background-color: #60FFC6;
  border-radius: 30px;
  margin-top: 5%;
  margin-right: 3%;
  cursor: pointer;
}

/* .tab-text{
  margin: 16%;
  position: relative;
  padding: 10%;
  font-size: 21pt;
  font-weight: bold;
  color: #2C2C2C;
} */
.premium-container {
  width: 597px;
  height: 750px;
  background-color: #2C2C2C;
  border-radius: 30px;
  margin-top: 6%;
}

/* Display Section Right Column */
.product-container {
  height: 327px;
  width: 236px;
  background-color: #2C2C2C;
  border-radius: 30px;
  margin: 2%;
  position: relative;
  left: 50px;
}

/* Display Bottom ads */
.bottom-ads {
  margin: 5%;
}

.ad-containers {
  width: 25%;
  height: 200%;
  background-color: #2C2C2C;
  border-radius: 30px;
  margin: 2%;
}

/* -------------------------------------------------------------------------------- */
/* PRODUCT SECTION STARTS*/
/* -------------------------------------------------------------------------------- */
.product-tiles {
  width: 274px;
  height: 469px;
  background-color: #2C2C2C;
  border-radius: 30px;
  margin: 6% 4.5%;
  cursor: pointer;
}

.product-price {
  background-color: #60FFC6;
  padding: 5% 10%;
  border-radius: 30px;
  font-weight: bold;
  width: 60%;
  margin-top: 5%;
  margin-left: 40%;
}

.product-icons {
  position: relative;
  left: 95%;
  top: -25%;
  margin: 6% 19%;
  font-size: 27pt;
  color: #60FFC6;
  cursor: pointer;
}

.product-img{
  width: 100%;
}

.product-head{
  position: relative;
  bottom: 20%;
  right: 5%
}

.product-tiles h4{
  color: #fff;
  font-weight: bold;
}

.product-tiles p{
  font-size: 14px;
}

.loadmore-btn{
  margin-top: 5%;
}

.loadmore-btn a{
  color: #60FFC6;
  font-size: 32pt;
  font-weight: bold;
  position: relative;
  left: 80%;
}

/* -------------------------------------------------------------------------------- */
/* FEATURED SECTION */
/* -------------------------------------------------------------------------------- */
.featured-tiles {
  width: 274px;
  height: 469px;
  background-color: #2C2C2C;
  border-radius: 30px;
  margin: 4%;
  cursor: pointer;
}

.featured-icons {
  position: relative;
  left: 95%;
  top: 60%;
  margin: 6% 19%;
  font-size: 27pt;
  color: #60FFC6;
  cursor: pointer;
}

.last-ads {
  position: relative;
  margin: 5%;
}

.featured-ad {
  width: 25%;
  height: 200%;
  background-color: #2C2C2C;
  border-radius: 30px;
  margin: 2%;
}

/* .icon-container{
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: #fff;
} */
/* -------------------------------------------------------------------------------- */
/* FOOTER SECTION */
/* -------------------------------------------------------------------------------- */
.footer-container {
  color: #60FFC6;
  position: relative;
  top: 100px;
  margin: 2%;
}

.krackbot-img-logo {
  position: absolute;
  left: 0;
  cursor: pointer;
}

.dotbotz-img-logo {
  position: absolute;
  right: 0;
  cursor: pointer;
}

/* -------------------------------------------------------------------------------- */
